.about{
    display: flex;
    justify-content: space-between;
    background: var(--bg_color);
    color: var(--txt_primary);
    font-family: 'inter';
    gap:9rem;
}
.aboutTxtPri{
    font-size: 1.85rem;
    font-weight: 400;
    line-height: 42px;
    word-wrap: break-word;
    word-break: break-all;
}
aside{
    /* border: solid 2px black; */
}
article{
    width: 46rem;
}
.aboutCvBtn{
    width: 60%;
    padding: 0.7rem 0.5rem;
    border-radius: 5rem;
    background: var(--bg_color);
    color: var(--txt_primary);
    border: solid 2px  var(--txt_primary) ;
}
.aboutCvBtn:hover{
   color: #FFFFFF;
}
.cvSections{
    display: flex;
    flex-direction: column;
    gap:4.8rem;
}
.section{
    font-size: 2.5rem;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--txt_muted);
}
.section .number{
    font-family: 'Inter';
    font-size: 7rem;
    font-weight: 500;
    line-height: 112px;
    text-align: left;
}

.bio > button {
    font-size: 1.5rem;
    border: solid 2px #FFFFFF;
    background: var(--about_btn_bg);
}
.aboutRight{
    margin: 100px auto;
    display: hidden;
}
.aboutRight ul{
   padding-left: 5%;
}
.aboutSubHead{
    font-size: 4rem;
    font-weight: 400;
    line-height: 64px;
    margin-bottom: 34px;
}
.aboutExp{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 56px;
    margin: 8px auto;
}
.aboutUni{
    font-size: 2rem;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin: 8px auto;
    color: var(--about_uni);
}
.aboutDate{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 8px auto;
    color:var(--about_date);

}
.aboutSocials{
    display: flex;
    gap:1.5rem;
}

@media only screen and (max-width: 480px) {
    .section .number{
        font-size: 3.2rem;
    }
    article{
        width: 80%;
    }
    .aboutTxtPri{
        word-wrap: normal;
        width: auto;
    }
    
}
@media only screen and (max-width: 600px) {
    .bio{
        margin-bottom: 40px;
    }
    .section .number{
        font-size: 4rem;
        line-height: initial;
    }
    .about{
        gap:3rem;
    }
    .section{
        font-size: 1.75rem;
        gap: 1rem;
    }
    .aboutRight{
        margin: 0px auto;
        display: hidden;
        margin-bottom: 0px;
    }
    .aboutTxtPri{
        font-size: .95rem;
        line-height: 24px;
        word-wrap: break-word;
    }
    .cvSections{
        gap:2rem;
    }
    .aboutCvBtn{
        width: 100%;
        padding: 0.4rem 0.5rem;
        font-size: 0.9rem;
    }
    .bio > button {
        font-size: 1rem;
        border: solid 2px #FFFFFF;
        background: var(--about_btn_bg);
        padding: 0.55rem 1.55rem;
       /*  margin-top: -30px; */
    }
    br{
        display: none;
    }
    .aboutRight ul{
        padding-left: 9%;
        margin: 0 auto;
     }
    .aboutSubHead{
        font-size: 2rem;
        margin: 0;
        margin-bottom: 12px;
        line-height: 38px;
    }
    .aboutExp{
        font-size: 1.25rem;
        line-height: 26px;
        margin: 2px auto;
    }
    .aboutUni{
        font-size: 1rem;
        line-height: 20px;
        margin: 0 auto;
    }
    .aboutDate{
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 2rem;
        margin: 0 auto;
        color:var(--about_date);
    }
    .aboutArrow{
        width: 17px;
        height: auto;
        margin-bottom: -3px;
        margin-top: -120px;
    }
    .GIT{
        margin: 20px auto;
        margin-bottom: 40px;
    }
    .aboutSocials{
        display: flex;
        gap:1.5rem;
        margin-top: -1.5%!important;
    }
}