.contact{
    overflow-x: hidden;
    width: 100vw;
}
.contactHeadings{
    font-family: 'Manrope';
    font-size: 4rem;
    font-weight: 600;
    line-height: 87.42px;
    text-align: left;
    text-transform: capitalize;
}
.bla{
    display: flex;
    justify-content: space-between;
    margin-top:-20px;
}
.bla > button{
    font-family: 'Manrope';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.contactTags{
    margin-bottom: 0;
    height: fit-content;
}
.studyBanner{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.studyBanner > img {
    border-radius: 1rem;
    width: 50rem;
    height: 520px;
    object-fit: contain;
}
#studyBannerImg1{
    margin-left: -10%;
}
#studyBannerImg1{
    margin-right: 5%;
}
.contactBook{
    display: flex;
    font-family: 'Inter';
    gap:5rem;
}
.contactSubHeading{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
    margin-bottom:0;
}
.contactTxt{
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 400;
    line-height:normal;
    text-align: justify;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.contactCon{
    max-width:83.3%;
    margin-left:8%;
    display: flex;
    gap: 4rem;
}
.contactCon > img{
    width: 46.0625rem;
    height: 526px;
    border-radius: 1rem;  
    object-fit: cover;  
}
.contactImg{
    width: 100%;
    height: 576px;
    object-fit: cover;
    border-radius: 1.5rem;
}
.bla a {
    all: unset; /* Reset all default styles */
    display: contents; /* Make the <a> adopt the styles and layout of its children */
}
pre h3{
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
}
pre h4{
    margin: 0;
    display: flex;
}
pre p{
    margin: 0;
    display: inline-block;
}
pre ul{
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
pre ul li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align:left;
    gap: 0px;
    margin: 10px 0;
}

@media only screen and (max-width: 600px){
    .contactHeadings{
        font-size: 2.8rem;
        line-height: 56px;
    }
    .contactTags {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        height: fit-content;
    }
    .contactTags span{
        padding: 0.7rem 0.6rem;
    }
    .bla {
        display: flex;
       
        /* margin-top: -20px; */
        flex-direction: column;
    }
    .bla button{
        font-size: 0.75rem;
        height: fit-content;
        padding: 0.7rem 0.6rem;
    }
    .bla button svg{
        width: 12px;
        height: 12px;
        margin-bottom:-3px ;
    }
    .studyBanner{
        margin-top: 40px;
    }
    .contactBook{
        gap:2rem;
    }
    .contactTxt{
        font-size: .85rem;
        line-height: 28px;
    }
    .contactSubHeading{
        font-size: 2rem;
        line-height: 42px;
        text-align: left;
        margin-bottom:0;
    }
    .contactCon{
        max-width:100%;
        margin-left:0;
        display: flex;
        gap: 0.5rem;
    }
    .contactCon > img{
        max-width:50%;
        height: auto;
        border-radius: 1rem;  
        object-fit: cover;  
    }
/*     .contactImg{
        width: 100%;
        height: fit-content;
        object-fit: cover;
        border-radius: 1.5rem;
    } */
}
@media only screen and (max-width: 480px){
    .contactHeadings{
        font-size: 2rem;
        font-weight: 600;
        line-height: 40px;
    }
}