.CarouselContainer{
    width: 92%;
    margin: 140px 7rem;
}
.CarouselContainer .carousel { 
    cursor: pointer !important;
}
.CarouselContainer h4{
    margin-bottom: 40px;
}
.carousel .slide{
    margin-right: 3% !important;
    overflow-x: visible;
}
.carousel .slide img{
    height: 400px;
    object-fit:cover;
    object-position: top;
    border-radius: 1rem;
   
}

@media only screen and (max-width: 480px) {
    .CarouselContainer{
        margin: auto auto;
    }
    .CarouselContainer h4{
        margin-bottom: 20px;
    }
    .carousel .slide img{
        height: 150px;
    }
}